# Ignore all contents, but keep the directory placeholder files
project/db-data/mongo/*
!project/db-data/mongo/.gitkeep

project/db-data/postgres/*
!project/db-data/postgres/.gitkeep

project/db-data/rabbitmq/*
!project/db-data/rabbitmq/.gitkeep

project/caddy_config/*
!project/caddy_config/.gitkeep
project/caddy_data/*
!project/caddy_data/.gitkeep